%h3.kardex-inventory
  .title KARDEX DE INVENTARIOS
  .title GESTION 2012

%dl.dl-horizontal
  %dt DESCRIPCIÓN:
  %dd ARCHIVADOR DE PALANCA LOMO ANCHO
  %dt Nº CODIGO:
  %dd 11201

%table.table.table-bordered
  %thead
    %tr
      %th.text-center{rowspan: 2} FECHA
      %th.text-center{rowspan: 2} Nº DE FACTURA
      %th.text-center{rowspan: 2} Nº DE PEDIDO MAT
      %th.text-center{rowspan: 2} DETALLE
      %th.text-center{colspan: 3} CANTIDADES
      %th.text-center{rowspan: 2} COSTO UNITARIO
      %th.text-center{colspan: 3} IMPORTES EN BOLIVIANOS
    %tr
      %th ENTRADAS
      %th SALIDAS
      %th SALDOS
      %th ENTRADAS
      %th SALIDAS
      %th SALDOS
  %tbody
    %tr.info{style: 'font-weight: bold;'}
      %td.text-center 01/01/2013
      %td.text-center 0
      %td.text-center 0
      %td SALDO INICIAL
      %td.text-center 0
      %td.text-center 0
      %td.text-center 9
      %td.number 31.50
      %td.number 0.00
      %td.number 0.00
      %td.number 283.50
    %tr
      %td.text-center 01/01/2013
      %td.text-center 0
      %td.text-center 0
      %td RUFINA VALERIANA CASILLA MAMANI-TECNICO EN FACTURACION Y COBRANZAS
      %td.text-center 0
      %td.text-center 0
      %td.text-center 9
      %td.number 31.50
      %td.number 0.00
      %td.number 0.00
      %td.number 283.50
    %tr
      %td.text-center 01/01/2013
      %td.text-center 0
      %td.text-center 0
      %td SALDO INICIAL
      %td.text-center 0
      %td.text-center 0
      %td.text-center 9
      %td.number 31.50
      %td.number 0.00
      %td.number 0.00
      %td.number 283.50
    %tr
      %td.text-center 01/01/2013
      %td.text-center 0
      %td.text-center 0
      %td SALDO INICIAL
      %td.text-center 0
      %td.text-center 0
      %td.text-center 9
      %td.number 31.50
      %td.number 0.00
      %td.number 0.00
      %td.number 283.50
    %tr.info{style: 'font-weight: bold;'}
      %td.text-center 31/12/2013
      %td.text-center 0
      %td.text-center 0
      %td SALDO FINAL
      %td.text-center 0
      %td.text-center 0
      %td.text-center 9
      %td.number 31.50
      %td.number 0.00
      %td.number 0.00
      %td.number 283.50