%table.table.table-stripped.table-condensed
  %thead
    %tr
      %th
      %th Descripción
      %th.col-sm-2 Código
  %tbody
    - @user.assets.each_with_index do |asset, index|
      %tr
        %td= index + 1
        %td= asset.description
        %td{ style: 'white-space: nowrap;' }
          - if current_user.is_super_admin? || params[:format] == 'pdf'
            = asset.code
          - else
            = link_to asset.code, asset
