- unless current_user.is_super_admin?
  %th= User.human_attribute_name('title')
- unless current_user.is_super_admin?
  %th= User.human_attribute_name('department')
- if current_user.is_super_admin?
  %th= User.human_attribute_name('role')
%th= t('general.status')
