.page-header
  %h3 Importar Usuarios
= form_tag import_users_path, class: 'form-horizontal', role: 'form', multipart: true do
  .form-group
    = label :dbf, "Archivo DBF", class: 'col-sm-2 control-label'
    .col-sm-10
      = file_field_tag :dbf, class: 'form-control', accept: dbf_mime_types.join(',')
  .form-group
    .col-sm-offset-2.col-sm-10
      = button_tag 'Importar', class: 'btn btn-default'
