- if @seguros .present?
  - @seguros.each do |s|
    - if (alerta = s.alerta_expiracion).present?
      %blink
        %div{ style: "margin-right: 20px;", class: "alert alert-#{alerta[:tipo]} pull-right #{alerta[:parpadeo] ? 'blink' : ''}" }
          %button.close{"data-dismiss" => "alert", type: "button"}>
            %span{"aria-hidden" => "true"} ×
            %span.sr-only Close
          #{ alerta[:mensaje] }
