.col-sm-6
  %table.table.table-condensed.table-striped.table-bordered
    %tbody
      %tr
        %td C贸digo de Barras
        %td.number
          %span= number_with_delimiter Barcode.count
      %tr
        %td C贸digo de Barras sin usar
        %td.number= number_with_delimiter Barcode.barcode_unused.count
      %tr
        %td C贸digo de Barras en uso
        %td.number= number_with_delimiter Barcode.barcode_used.count
      %tr
        %td C贸digo de Barras eliminados
        %td.number
          %span= number_with_delimiter Barcode.barcode_removed.count