%script{ id: 'destroy-modal', type: 'text/html' }
  .modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1", id: "modal-{{domId}}"}
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
          %h4.modal-title {{title}}
        .modal-body {{{confirmMessage}}}
        .modal-footer
          %button.btn.btn-default{"data-dismiss" => "modal", type: "button"}= t('general.forms.btn.cancel')
          {{#unassigned}}
          = link_to t('general.forms.btn.ok'), "{{url}}", class: 'btn btn-primary', remote: true
          {{/unassigned}}
