#footer
  %table.table.table-bordered
    %tbody
      %tr
        %td Calle Ayacucho y Mercado Nro 308
        %td contacto@adsib.gob.bo
      %tr
        %td Edif. de la Vicepresidencia del Estado Plurinacional, Piso 3
        %td www.adsib.gob.bo
      %tr
        %td Telfs.: (591) – 2 – 200720, 2200730, 2200740
        %td La Paz – Bolivia
