.container
  .jumbotron.j_bottom
    %p.lead
      Bienvenidos al sistema de Activos Fijos de ADSIB
      %br
      donde podra gestionar los activos de su entidad.

  - if minimum_stock.present? && current_user.is_admin?
    .page-header
      %h3 Stock Mínimo de Sub Artículos
    - minimum_stock.each do |stock|
      - color = stock.amount <= stock.minimum ? 'bg-danger' : 'bg-warning'
      .message{ class: color }
        %h4
          %b #{stock.amount} / #{stock.minimum}
        %p= stock.code
        = link_to 'Ver »', subarticle_path(stock), class: 'btn btn-default btn-xs'
