#ingresos-urls{data: {'activos' => ingresos_path}}

.row{data: {action: 'ingresos'}}
  .col-md-12
    %h3.text-center Ingreso de Activos Fijos

.row
  .col-md-12.col-sm-12
    %form#ingresos-form{role: 'form'}
      .row
        .col-md-offset-2.col-sm-offset-2.col-xs-offset-2.col-md-6.col-sm-6.col-xs-6
          = text_field_tag :code, '', class: 'form-control input-lg', placeholder: 'C贸digo de Barras de Activos Fijos', autofocus: true
        .col-md-3.col-sm-3.col-xs-3
          = button_tag class: 'btn btn-success col-md-12 btn-lg' do
            %span.glyphicon.glyphicon-ok
            Buscar
%br/

%table#ingresos-tbl.table.table-bordered.table-striped.table-hover.table-condensed

%table.table.table-bordered.table-striped.table-hover.table-condensed
  %thead
    %tr
      %th Datos del proveedor
      %th Firma Activos Fijos
  %tbody
    %tr
      %td.col-sm-6
        %dl.dl-horizontal
          %dt Proveedor
          %dd COMERCIAL R&R
          %dt NIT
          %dd 6752844010
          %dt Factura No
          %dd 0015
          %dt Autorizaci贸n
          %dd 27410160001693
          %dt Factura fecha
          %dd 26/02/2016
          %dt Fecha nota de entrega
          %dd 26/02/2016
          %dt C-31
          %dd 132
          %dt C-31 fecha
          %dd 27/04/2016
      %td.col-sm-6

.row
  .col-md-12.col-sm-12.text-center
    = button_tag class: 'btn btn-danger', data: {type: 'reset'} do
      %span.glyphicon.glyphicon-ban-circle
      Cancelar

    = button_tag class: 'btn btn-primary', data: {type: 'next'} do
      %span.glyphicon.glyphicon-arrow-right
      Siguiente

%script{type: 'text/html', id: 'tpl-activo-seleccionado'}
  %thead
    %tr
      %th C贸digo
      %th Medidas
      %th Material
      %th Descripci贸n
      %th Color
      %th.number P. Unit.
  %tbody
    {{#activos}}
    %tr
      %td {{barcode}}
      %td {{medidas}}
      %td {{material}}
      %td {{detalle}}
      %td {{color}}
      %td.number {{precio_formato}}
    {{/activos}}
  %tfoot
    %tr
      %th{ colspan: 4 }
      %th.number TOTAL
      %th.number {{total}}
