%section{ 'ng-app' => 'almacenes' }
  %ul.nav.nav-tabs
    %li.active{ role: "presentation"}
      = link_to 'Entradas', '#'
    %li{ role: "presentation"}
      = link_to 'Salidas', '#'

  %table.table.table-striped.table-hover
    %thead
      %tr
        %th Id
        %th Nº
        %th Empresa
        %th Encargado(a)
        %th Fecha
        %th.number Costo total
        %th.text-center Nota de entrega
        %th.text-center Nota de factura
        %th Creado el
        %th Acciones
    %tbody
      %tr
        %td 2
        %td 0001
        %td Empresa SRL
        %td Roxana Gomez
        %td 14/10/2015
        %td.number 200.33
        %td.text-center 200
        %td.text-center 00123412
        %td 14/10/2015 15:40
        %td
          %a(class="btn btn-default btn-xs" href="#" title="Ver")
            %span(class="glyphicon glyphicon-eye-open")
          %a(class="btn btn-primary btn-xs" href="#" title="Editar")
            %span(class="glyphicon glyphicon-edit")
          %a(class="btn btn-warning btn-xs" href="#" title="Anular")
            %span(class="glyphicon glyphicon-remove")
      %tr
        %td 1
        %td 0001
        %td Empresa SRL
        %td Roxana Gomez
        %td 14/10/2015
        %td.number 200.33
        %td.text-center 200
        %td.text-center 00123412
        %td 14/10/2015 15:40
        %td
          %a(class="btn btn-default btn-xs" href="#" title="Ver")
            %span(class="glyphicon glyphicon-eye-open")
          %a(class="btn btn-primary btn-xs" href="#" title="Editar")
            %span(class="glyphicon glyphicon-edit")
          %a(class="btn btn-warning btn-xs" href="#" title="Anular")
            %span(class="glyphicon glyphicon-remove")
      %tr
        %td 3
        %td 0001
        %td Empresa SRL
        %td Roxana Gomez
        %td 14/10/2015
        %td.number 200.33
        %td.text-center 200
        %td.text-center 00123412
        %td 14/10/2015 15:40
        %td
          %a(class="btn btn-default btn-xs" href="#" title="Ver")
            %span(class="glyphicon glyphicon-eye-open")
          %a(class="btn btn-primary btn-xs" href="#" title="Editar")
            %span(class="glyphicon glyphicon-edit")
          %a(class="btn btn-warning btn-xs" href="#" title="Anular")
            %span(class="glyphicon glyphicon-remove")
      %tr
        %td 4
        %td 0001
        %td Empresa SRL
        %td Roxana Gomez
        %td 14/10/2015
        %td.number 200.33
        %td.text-center 200
        %td.text-center 00123412
        %td 14/10/2015 15:40
        %td
          %a(class="btn btn-default btn-xs" href="#" title="Ver")
            %span(class="glyphicon glyphicon-eye-open")
          %a(class="btn btn-primary btn-xs" href="#" title="Editar")
            %span(class="glyphicon glyphicon-edit")
          %a(class="btn btn-warning btn-xs" href="#" title="Anular")
            %span(class="glyphicon glyphicon-remove")
