%section{ 'ng-app' => 'almacenes', 'ng-controller' => 'EntradasCtrl' }
  %ul.nav.nav-tabs
    %li.active{ role: "presentation"}
      = link_to 'Entradas', '#'
    %li{ role: "presentation"}
      = link_to 'Salidas', '#'

  %table.table.table-striped.table-hover
    %thead
      %tr
        %th Id
        %th Nº
        %th Empresa
        %th Encargado(a)
        %th Fecha
        %th.number Costo total
        %th.text-center Nota de entrega
        %th.text-center Nota de factura
        %th Creado el
        %th Acciones
    %tbody
      %tr{'ng-repeat' => 'entrada in notas_entrada'}
        %td {{entrada.id}}
        %td {{entrada.nro}}
        %td {{entrada.empresa}}
        %td {{entrada.encargado}}
        %td {{entrada.fecha | date: 'dd/MM/yyyy'}}
        %td.number {{entrada.total}}
        %td.text-center {{entrada.nota_entrega_nro}}
        %td.text-center {{entrada.factura_nro}}
        %td {{entrada.creado_el | date: 'dd/MM/yyyy HH:mm'}}
        %td
          %a(class="btn btn-default btn-xs" href="#" title="Ver")
            %span(class="glyphicon glyphicon-eye-open")
          %a(class="btn btn-primary btn-xs" href="#" title="Editar")
            %span(class="glyphicon glyphicon-edit")
          %a(class="btn btn-warning btn-xs" href="#" title="Anular")
            %span(class="glyphicon glyphicon-remove")
