%script{ type: 'text/html', id: 'new_material' }
  %tr{ id: '{{id}}' }
    %td {{code}}
    %td {{unit}}
    %td {{description}}
    %td 1
    %td
      %button.btn.btn-warning.btn-xs{ type: 'button', title: 'Reducir cantidad', id: 'minus_material' }
        %span.glyphicon.glyphicon-minus-sign
      %button.btn.btn-danger.btn-xs{ type: 'button', title: 'Retirar Material', id: 'remove_material' }
        %span.glyphicon.glyphicon-remove-sign
