.page-header
  %h2 Búsqueda avanzada de requerimientos

.row
  .col-lg-12.col-md-12.col-sm-12
    = search_form_for @q, url: search_subarticles_requests_path, remote: true do |f|
      = f.search_field :request_status_cont
      = f.submit "search"
    %table.table.table-hover
      %thead
        %tr
          %th #
          %th Sub Artículo
          %th Cantidad
          %th Ultima fecha
      %tbody#subarticles_request
        = render 'subarticles_request'
