- if @assets.present?
  - @assets.each do |asset|
    %tr{ id: dom_id(asset) }
      %td= check_box_tag 'assets', asset.code, false
      %td= asset.code
      %td= asset.description
      %td= asset.user_name
- else
  %tr
    %td(colspan='4')
      No hay activos para mostrar
