%script{ type: 'text/html', id: 'tpl-barcode' }
  %h2.text-center Código de Barras

  .row
    {{#assets}}
    .col-xs-6.col-sm-4.col-md-4.col-lg-4
      .thumbnail
        .barcode{ style: 'margin: 5px auto 0;', data: { code: '{{code}}' } }
          {{code}}
    {{/assets}}

  .row
    .action-buttons.col-md-12.col-sm-12.text-center
      = button_tag class: 'btn btn-lg btn-primary' do
        %span.glyphicon.glyphicon-print
        Imprimir
