.row
  .col-md-offset-3.col-md-6
    - cols = 3
    %table#pdf-assets-print.table
      %tbody
        - rows = (@assets.length / cols.to_f).ceil
        - (1..rows).each_with_index do |e, index|
          - limit = index * cols
          %tr.asset-row-line
            - @assets[limit, cols].each do |asset|
              %td
                .barcode{ style: 'margin: 0 auto;', data: { code: asset[:code].to_s } }
                  = asset[:code]

:coffeescript
  $('#pdf-assets-print tr td .barcode').each (i, e) ->
    code = $(e).data('code').toString()
    $(e).barcode code, 'code128', { barWidth: 1, barHeight: 60 }
