%th= Asset.human_attribute_name('precio')
%th= Asset.human_attribute_name('account')
%th= Asset.human_attribute_name('user')
%th= Asset.human_attribute_name('barcode')
- if controller_name == 'derecognised'
  %th Baja
