%script{ type: 'text/html', id: 'tpl-fixed-assets' }
  %h3.text-center {{title}}
  {{#devolution}}
  %h4
    %span.text-muted Funcionario:
    {{user_name}}
  %h4
    %span.text-muted Cargo:
    {{user_title}}
  {{/devolution}}
  %table.table.table-striped.table-hover
    %thead
      %tr
        %th.col-sm-1
        %th.col-sm-9 Descripción
        %th.col-sm-2 Código
    %tbody
      {{#assets}}
      %tr
        %td
          {{index}}
        %td {{description}}
        %td {{code}}
      {{/assets}}
  .row
    {{^devolution}}
    .col-md-offset-1.col-sm-offset-1.col-md-10.col-sm-10
      %h4
        %span.text-muted Funcionario:
        %strong {{user_name}}
      %h4
        %span.text-muted Cargo:
        %strong {{user_title}}
    {{/devolution}}
    .col-md-offset-1.col-md-10.text-center
      = button_tag class: 'btn btn-primary', id: 'btn_accept' do
        %span.glyphicon.glyphicon-ok
        Aceptar
      = button_tag class: 'btn btn-danger', id: 'btn_cancel_' do
        %span.glyphicon.glyphicon-ban-circle
        Cancelar
