- display_buttons ||= false
%script{ id: 'tpl-proceeding-delivery', type: 'text/html' }
  .row
    .col-md-offset-1.col-md-10
      .proceeding-title.text-center
        %h3
          {{^devolution}}
          ASIGNACION INDIVIDUAL
          {{/devolution}}
          {{#devolution}}
          ACTA DE DEVOLUCION
          {{/devolution}}
          DE BIENES
        {{proceedingDate}}
      %p.proceeding-description.text-justify
        %h4
          %span.text-muted Entidad:
          {{entity}}
        %h4.row
          .col-xs-8.col-sm-8.col-md-8
            %span.text-muted Responsable:
            {{userName}}
          .col-xs-4.col-sm-4.col-md-4
            %span.text-muted C.I.:
            {{userCi}}
        %h4
          %span.text-muted Cargo:
          {{userTitle}}
        %h4
          %span.text-muted Oficina:
          {{userDepartment}}

      %table.table.table-striped.table-condensed.proceeding-assets.table-bordered
        %thead
          %tr
            %th.col-sm-1 Nro
            %th.col-sm-1 Código
            %th.col-sm-3 Auxiliar
            %th.col-sm-6 Descripción del Activo
            %th.col-sm-1 Estado
        %tbody
          {{#assets}}
          %tr
            %td {{index}}
            %td {{code}}
            %td {{auxiliary}}
            %td {{description}}
            %td {{state}}
          {{/assets}}
      .acta
        %br/
        %p.text-justify
          %b OBLIGACIONES SOBRE EL USO DE LOS ACTIVOS ASIGNADOS
          %br
          {{^devolution}}
          %p
            El funcionario que suscribe como Responsable de Activo, declara conocer las siguientes disposiciones institucionales, con lo que se compromete a respetarlas y aplicarlas durante todo su desempeño, dentro o fuera de las dependencias de {{sigla}}.
          %ol
            %li Será responsable por el debido uso y custodia de todos los bienes a su cargo
            %li Queda prohibido de usar los bienes para beneficio particular o probado
            %li Queda prohibido prestar o transferir el bien a otro empleado público
            %li Se probíbe enajenar el bien por cuenta propia
            %li Queda prohibido dañar o alterar sus características físicas o técnicas
            %li Se prohíbe sacar los bienes de la entidad sin autorización de la Unidad Administrativa Financiera o Activos Fijos
            %li La no observancia a éstas prohibiciones generará responsabilidades establecidas en la Ley N° 1178 y sus reglamentos
          %p
            En señal de conformidad y aceptación se firma el presente acta.
          {{/devolution}}
          {{#devolution}}
          %p
            EN CUMPLIMIENTO AL ARTÍCULO N° 148 (LIBERACIÓN DE LA RESPONSABILIDAD) DE LAS NORMAS BÁSICAS DE ADMINISTRACIÓN DE BIENES Y SERVICIOS, EN EL MARCO DE LA LEY 1178, EN LA FECHA SE PROCEDIÓ CON EL ACTO DE DEVOLUCIÓN DE BIENES, DE ACUERDO AL DETALLE DESCRITO EN EL PRESENTE DOCUMENTO.
          {{/devolution}}

      .proceeding-signature
        %table{ style: 'width: 100%' }
          %tr
            -# %td.text-center
            -#   __________________________
            -#   %p
            -#     Autorización de
            -#     {{^devolution}}
            -#     Asignación
            -#     {{/devolution}}
            -#     {{#devolution}}
            -#     Devolución
            -#     {{/devolution}}
            %td.text-center
              __________________________
              %p Responsable de Activos Fijos
            %td.text-center
              __________________________
              %p Funcionario

  - if display_buttons
    %p.proceeding-pdf.text-center
      = button_tag class: 'btn btn-primary btn-lg', data: {type: 'save'} do
        %span.glyphicon.glyphicon-print
        Imprimir PDF

      = button_tag class: 'btn btn-danger btn-lg', data: {type: 'cancel'} do
        %span.glyphicon.glyphicon-ban-circle
        Cancelar
