- display_buttons ||= false
%script{ id: 'tpl-proceeding-delivery', type: 'text/html' }
  .row
    .col-md-offset-1.col-md-10
      .proceeding-title.text-center
        %h3
          {{^devolution}}
          ASIGNACION INDIVIDUAL
          {{/devolution}}
          {{#devolution}}
          ACTA DE DEVOLUCION
          {{/devolution}}
          DE BIENES
        {{proceedingDate}}
      - if is_pdf?
        %h6.text-right
          Fecha de impresión: #{l Time.now.to_date}
      %p.proceeding-description.text-justify
        %h4
          %span.text-muted Entidad:
          {{entity}}
        %h4.row
          .col-xs-8.col-sm-8.col-md-8
            %span.text-muted Responsable:
            {{userName}}
          .col-xs-4.col-sm-4.col-md-4
            %span.text-muted C.I.:
            {{userCi}}
        %h4
          %span.text-muted Cargo:
          {{userTitle}}
        %h4
          %span.text-muted Oficina:
          {{userDepartment}}

      %table.table.table-striped.table-condensed.proceeding-assets.table-bordered
        %thead
          %tr
            %th.col-sm-2 Código
            %th.col-sm-3 Auxiliar
            %th.col-sm-6 Descripción del Activo
            %th.col-sm-1 Estado
        %tbody
          {{#assets}}
          %tr
            %td {{code}}
            %td {{auxiliary}}
            %td {{description}}
            %td {{state}}
          {{/assets}}
      .acta
        %p.proceeding-date.text-justify
          %b Cantidad:
          {{count}}
          %br
          %br
          %small
            {{^devolution}}
            %p
              EN CUMPLIMIENTO AL ARTÍCULO 146 (ASIGNACIÓN DE ACTIVOS FIJOS MUEBLES) DE LAS NORMAS BÁSICAS DE ADMINISTRACIÓN DE BIENES Y SERVICIOS D.S. 181, EN EL MARCO DE LA LEY 1178, EN LA FECHA SE PROCEDIÓ CON EL ACTO DE ASIGNACIÓN INDIVIDUAL Y ENTREGA DE BIENES, DE ACUERDO AL DETALLE DESCRITO EN EL PRESENTE DOCUMENTO.
            %p
              LA NO OBSERVANCIA A LAS PROHIBICIONES SEÑALADAS EN EL ARTÍCULO 157, GENERARÁ RESPONSABILIDADES ESTABLECIDAS EN LA LEY N° 1178 Y SUS REGLAMENTOS.
            %p
              EN SEÑAL DE CONFORMIDAD Y ACEPTACIÓN SE FIRMA EL PRESENTE ACTA.
            {{/devolution}}
            {{#devolution}}
            %p
              EN CUMPLIMIENTO AL ARTÍCULO N° 148 (LIBERACIÓN DE LA RESPONSABILIDAD) DE LAS NORMAS BÁSICAS DE ADMINISTRACIÓN DE BIENES Y SERVICIOS, EN EL MARCO DE LA LEY 1178, EN LA FECHA SE PROCEDIÓ CON EL ACTO DE DEVOLUCIÓN DE BIENES, DE ACUERDO AL DETALLE DESCRITO EN EL PRESENTE DOCUMENTO.
            {{/devolution}}

      .proceeding-signature{ style: "#{'margin-bottom: 50px;' unless is_pdf?}" }
        %table{ style: 'width: 100%' }
          %tr
            %td.text-center
              __________________________
              %p
                Autorización de
                {{^devolution}}
                Asignación
                {{/devolution}}
                {{#devolution}}
                Devolución
                {{/devolution}}
            %td.text-center
              __________________________
              %p Responsable de Activos Fijos
            %td.text-center
              __________________________
              %p Funcionario

  - if display_buttons
    %p.proceeding-pdf.text-center
      = button_tag class: 'btn btn-primary btn-lg', data: {type: 'save'} do
        %span.glyphicon.glyphicon-print
        Imprimir PDF

      = button_tag class: 'btn btn-danger btn-lg', data: {type: 'cancel'} do
        %span.glyphicon.glyphicon-ban-circle
        Cancelar
