.nowrap { white-space: nowrap; }

.action-buttons { margin: 30px 0 60px; }

#proceeding-delivery, #request {
  .proceeding-assets {
    margin: 20px 0 0;
    td:last-child { white-space: nowrap; }
  }

  .proceeding-date { margin-top: 30px; }

  .proceeding-signature { margin-top: 100px; }

  .firma-funcionario {
    height: 100px;
    vertical-align: bottom;
    p {
      margin: 0;
    }
  }
}

table#pdf-assets-print {
  width: 795px;
  box-sizing: initial;
  -webkit-box-sizing: initial;
  -moz-box-sizing: initial;
  tbody {
    tr {
      padding: 0;
      margin: 0;
      height: 96px !important;
      td {
        border: 1px dotted white !important;
        padding: 0;
        vertical-align: middle;
        &:first-child {
          width: 33.5%;
        }
        &:last-child {
          width: 33%;
        }
        .contenedor {
          margin: 2px 10px;
          border: 1px dotted transparent !important;
          .barcode {
            margin: 0 auto;
            height: 55px;
          }
        }
      }
    }
  }
}

#header{
  .image {
    width: 685px;
  }
}

#footer{
  .image {
    width: 685px;
  }
  .page_Numbering{
    text-align: center;
  }
}

// Para partir las tablas largas en el PDF
table, tr, td, th, tbody, thead, tfoot {
    page-break-inside: avoid !important;
}

table.margen {
  border: 1px solid #777;
  border-style: double;
}
