.action-buttons {
  margin: 30px 0 60px;
}

#proceeding-delivery {
  font-size: 14px;

  .proceeding-assets {
    font-size: 13px;
    margin: 20px 0 0;
    td:last-child {
      white-space: nowrap;
    }
  }
  .proceeding-date {
    margin: 30px 0 0;
  }
  .proceeding-signature {
    margin: 100px 0 50px;
  }
  .proceeding-title {
    margin: 0 0 30px 0;
  }
}

#pdf-assets-print {
  tbody {
    tr {
      width: 100%;
      padding: 0;
      margin: 0;
      td {
        padding: 8px 0 5px;
      }
    }
  }
}
