.td_actions { width: 16.5% !important; }

.button_new {
  padding-left: 0;
  margin-bottom: 20px;

  span.controller_name{ display: none; }
}

div.DTTT_container {
  margin-left: 170px;
  position: absolute;
}

#DataTables_Table_0_processing{
  position: absolute;
  text-align: center;
  width: 98%;
}

.container {
  max-width: 730px;

  .j_bottom {
    margin-top: 50px;
    text-align: center;
  }
}
.title_message {
  float: left;
  margin-bottom: 25px;
  width: 100%;
}

#select_column{
  float: right;
  margin-right: 5px;
}

/*requests*/
.request_title1{
  float: right;
  margin-top: -50px;
}

iframe{ opacity: 0; }

#barcode{ margin-top: 70px; }

p#content_modal {
  font-size: 15px;
  margin: 15px 0;
}

.bg-info{
  font-size: 14px;
  margin-bottom: 20px;
  padding: 15px;
}

.message {
  margin-bottom: 20px;
  padding: 10px;
}

#images_pdf{
  color: #9a9ca5;
  font-size: 15px;
  margin: 30px 0 -10px;
}

input.image{
  cursor: pointer;
  height: 189px;
  margin: -207px 0 30px;
  opacity: 0;
  width: 100%;
}

form .thumbnail{ height: 190px; }

.barcode-statistics {
  h4 {
    margin-top: 0;
  }
}
.number {
  text-align: right;
}
table {
  tr {
    &.vertical-align {
      th {
        vertical-align: middle;
      }
    }
    &.double-thick {
      th, td {
        border: 2px solid #dddddd;
      }
    }
  }
}

.note{
  padding: 1px 0 0 !important;
  input{ border: 0; }
}

.padding-note { padding-left: 0; }

.pointer { cursor: pointer; }

.datepicker {
  z-index: 1151 !important;
}

.navbar-assets {
  background-color: #E2FAFF;
  background-image: none;
  .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus { background-color: #CCF6FF !important; }
}

.navbar-stores {
  background-color: #E6FFE2;
  background-image: none;
  .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus { background-color: #D3FFCC !important; }
}
