.td_actions { width: 16.5% !important; }

.button_new {
  padding-left: 0;
  margin-bottom: 20px;

  span.controller_name{ display: none; }
}

div.DTTT_container {
  margin-left: 170px;
  position: absolute;
}

#DataTables_Table_0_processing{
  position: absolute;
  text-align: center;
  width: 98%;
}

.container {
  max-width: 730px;

  .j_bottom {
    margin-top: 50px;
    text-align: center;
  }
}
.title_message {
  float: left;
  margin-bottom: 25px;
  width: 100%;
}

#select_column{
  float: right;
  margin-right: 5px;
}

/*requests*/
.request_title1{
  float: right;
  margin-top: -50px;
}

iframe{ opacity: 0; }

#barcode{ margin-top: 70px; }

p#content_modal {
  font-size: 15px;
  margin: 15px 0;
}

.alert { margin-bottom: 0px; }

.bg-info{
  font-size: 14px;
  margin-bottom: 20px;
  padding: 15px;
}

.message {
  float: left;
  margin: 0 10px 20px 0;
  padding: 2px 10px 10px 10px;
  width: 23%;
}

#images_pdf{
  color: #9a9ca5;
  font-size: 15px;
  margin: 30px 0 -10px;
}

input.image{
  cursor: pointer;
  height: 189px;
  margin: -207px 0 30px;
  opacity: 0;
  width: 100%;
}

form .thumbnail{ height: 190px; }

.barcode-statistics {
  h4 {
    margin-top: 0;
  }
}
