.td_actions { width: 16.5% !important; }

.button_new {
  padding-left: 0;
  margin-bottom: 20px;
}

.table .glyphicon { margin-right: 3px; }

div.DTTT_container {
  margin-left: 142px;
  position: absolute;
}

#DataTables_Table_0_processing{
  position: absolute;
  text-align: center;
  width: 98%;
}
